#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Peer'Em Client
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=emmfhhpaodcnpppdhbmhebedafapaehk
Icon=chrome-emmfhhpaodcnpppdhbmhebedafapaehk-Default
StartupWMClass=crx_emmfhhpaodcnpppdhbmhebedafapaehk
